<h3 class="my-5 h2" style="margin: .6em;">Students List</h3>
<div style="width:60%; margin: .6em;">
  <!-- <ul class="list-group" *ngFor='let student of Students'>
    <li class="list-group-item d-flex justify-content-left align-items-center" (click)="showDetails(student)">
      <span class="badge badge-primary badge-pill">{{student.id}}</span>&nbsp;
      {{student.fname}}
    </li>

  </ul>
</div>

<button class="btn btn-secondary" (click)="addStudent()">Add Profile </button>
-->
  {{Students[0]}}
